<div class="note-list container-fluid">
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
        <ul class="list-group">
            <li *ngFor="let obj of noteList" class="card">
                <div class="card-header">
                    <img [src]="obj?.user?.avatar" [alt]="obj?.user?.name" class="rounded-circle">
                    <span>{{obj.time|momentTime}}</span>
                </div>
                <div class="card-body" (click)="toDetail(obj.id)">
                    <h4 class="card-title">{{obj.title}}</h4>
                    <p class="card-text">
                        {{obj.content}}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="meta">
                        <a title="评论"><i class="fa fa-commenting-o" aria-hidden="true"></i>{{obj.meta.comments}}</a>
                        <a title="喜爱"><i class="fa fa-heart-o" aria-hidden="true"></i>{{obj.meta.favs}}</a>
                        <a title="查看"><i class="fa fa-eye" aria-hidden="true"></i>{{obj.meta.look}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>