<div class="page-top clearfix">
    <div class="user-profile clearfix">
        <div class="dropdown al-user-profile">
            <a [hidden]="!user" class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                <img [src]="user?.avatar">
            </a>
            <a [hidden]="user" class="logined" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>登录</a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item" (click)="logout()"><a href="javascript:void(0)" class="signout"><i class="fa fa-power-off"></i>退出</a></li>
            </ul>
        </div>
    </div>
</div>