<div class="note-list container-fluid">
    <ul class="list-group">
        <li *ngFor="let obj of noteList" class="card">
            <div class="card-header">Featured</div>
            <div class="card-body">
                <h4 class="card-title">{{obj.title}}</h4>
                <p class="card-text">
                    {{obj.content}}
                </p>
            </div>
            <div class="card-footer">
                <div class="meta">
                    <a title="评论"><i></i>{{obj.meta.comments}}</a>
                    <a title="喜爱"><i></i>{{obj.meta.favs}}</a>
                    <a title="查看"><i></i>{{obj.meta.look}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>