<li *ngIf="!menuItem.hidden" [title]="menuItem.title" [ngClass]="{'selected': menuItem.selected && !menuItem.expanded}">

    <a *ngIf="!menuItem.children && !menuItem.url" [routerLink]="menuItem.route.paths" class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span>{{ menuItem.title }}</span>
    </a>

    <a *ngIf="!menuItem.children && menuItem.url" [href]="menuItem.url" [target]="menuItem.target" class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span>{{ menuItem.title }}</span>
    </a>
</li>